.input_ctn {
  height: fit-content;
}
.add_list_btn {
  outline: none;
  border: none;
  color: var(--main-color);
  border-radius: 5px;
  font-size: 15px;
  min-width: 250px;
  padding: 5px;
  height: fit-content;
  display: flex;
  background-color: white;
  box-shadow: var(--shadow-bg-first);
  justify-content: space-between;
  cursor: pointer;
}

.input {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  gap: 10px;
  background-color: white;
  box-shadow: var(--shadow-bg-first);
  border-radius: 5px;
  padding: 5px;
  position: sticky;
}

.input input {
  outline: none;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  font-size: 15px;
}

.add_list_btns button {
  display: inline-block;
  margin: 3px;
}


.input.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-27px);
  transition: var(--speed) ease;
}

.input.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50px);
  transition: var(--speed) ease;
}