.searchBar {
  box-shadow: var(--shadow-bg-second);
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}


.searchBar input {
  outline: none;
  border: none;
  width: 100%;
}

.searchBar button {
  outline: none;
  border: none;
  color: white;
  background-color: var(--main-color);
  border-radius: 5px;
  height: 100%;
  cursor: pointer;
  padding: 5px;
}
