@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;1,6..12,200&family=Poppins:ital,wght@1,200&display=swap');
* {
  box-sizing: content-box;
  outline: none;
  border: none;
  font-family: "Nunito Sans", sans-serif;
}

button {
  cursor: pointer;
  background-color: transparent;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-height: 100vh;
}
#root {
  max-height: 100vh;
}

:root {
  --main-color: #6405d0;
  --gray-color: #dfdfdf;
  --speed: 0.3s;
  --material-bg-first: white;
  --shadow-bg-first: rgba(0, 0, 0, 0.24) 0px 7px 29px 0px;
  --shadow-bg-second: rgba(95, 94, 94, 0.24) 0px 7px 29px 0px;
}

a {
  text-decoration: none;
}
