.board_content {
  width: 100%;
  display: grid;
  grid-template-areas: "board_options" "board_lists";
  gap: 10px;
  grid-template-rows: min-content 1fr;
}

.board_options {
  grid-area: board_options;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  padding: 5px 20px;
  backdrop-filter: blur(5px);
}
.board_options_privacy {
  display: flex;
  gap: 5px;
  box-sizing: content-box;
}

.board_lists {
  max-height: 100%;
  grid-area: board_lists;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 10px 20px;
  box-sizing: content-box;
  overflow: auto;
  position: -ms-page;
}
