#workspace-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  position: relative;
}
h1 {
  margin: 0;
}

#workspace-layout-header {
  display: grid;
  width: 100%;
  height: 50px;
  grid-template-areas: "logo-ctn board-bar board-bar search-ctn search-ctn user-ctn";
  grid-template-rows: repeat(50px);

  box-sizing: content-box;
  border-bottom: 1px solid #adadad4f;
  background-color: rgba(255, 255, 255, 0.685);
  align-items: center;
}

#workspace-layout-content {
  display: flex;
  height: calc(100vh - 50px);
  box-sizing: content-box;
}

.searchBar {
  grid-area: search-ctn;
  width: 30% !important;
  align-self: center;
  justify-self: end;
  transition: width 0.5s ease;
}
.searchBar.unfolded {
  width: 30% !important;
}

.searchBar.folded {
  width: 100% !important;
}

.profile-card {
  grid-area: user-ctn;
  align-self: center;
  justify-self: flex-end;
  margin-right: 40px;
}

.logo-ctn img {
  padding-top: 0;
}

.logo-ctn {
  grid-area: logo-ctn;
  align-self: center;
  width: min-content;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.dashboard-info {
  grid-area: board-bar;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}

h4 {
  margin: 0;
}

.all-boards-btn {
  cursor: pointer;
  padding: 10px;
  align-self: center;
  display: block;
  background-color: var(--gray-color);
  outline: none;
  border: none;
  border-radius: 4px;
}

.all-boards-btn i {
  font-size: 15px;
}

.workspace-ctn {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px 150px 40px 150px;
  flex-direction: column;
}

.workspace-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.workspace-content {
  flex-grow: 1;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}
